*{
	margin: :0px;
	padding: 0px;
}

body{
	background-color: #34495E;
}

header
{
	/*padding: 8em 0em 4em 0em;*/
	background: #17A086;
	margin-top: 1em;
	width: 100%;
	height: 4.6875em;
}

#user{

}

table {
	border= 0;
}
#imagen_user{
	width: 60px;
	height: 60px;
}

#menu_conf{
	margin:auto;
}


/*----------------MENU ADMINISTRACION---------------------*/

#menu {  
	font-size: 0.7em;
	margin: 20px;
	position: relative;}

#menu ul { 
	list-style-type: none;}

#menu ul li a.primera {
	border-top: solid 1px #FFF;}

#menu ul li a.nivel1, #menu ul li a.nivel1ie { 
	width: 35px;
	height: 35px;
	background: url(../img/view-sequential.png) no-repeat;
	vertical-align: center;
	text-align: left;
}

#menu ul li a {
	display: block;
	text-decoration: none;color: #fff;
	position: relative;
	text-align: center;}

#menu ul li a:hover, #menu ul li:hover a.nivel1 {
	background-color: #6CC;
	color: #000;
	position: relative;}

#menu ul li a.nivel1 {
	display: block!important;
	display: none;
	position: relative;}

#menu ul li ul {
	display: none;}

#menu ul li a:hover ul, #menu ul li:hover ul {
	display: block;
	position: absolute;
	top:23px;
	right:0px;}

#menu ul li ul li a {
	width: 120px;
	background-color: #000;
	color: #fff;
	border: solid 1px #fff;
	border-top: none;
	padding: 8px;}

#menu ul li ul li a:hover {
	position: relative;background-color: #399;color: #FFF;}



/*--------------SECTION MUESTRA_HORA------------------------------------------*/


#muestra_hora{
/*
	width: 100%;*/
	background-color: #17A086;
	height: 15%;
	margin-top: 5px;/*
	text-align: right;*/
	border: 1px solid white;

}

/*-------------------------------MENU NAV LATERAL(SECTION LATERAL IZQUIERDO)----------------------------------------------*/
/*
#sidebar{

	width: 30%;
	background-color: #17A086;
	margin-top: 5px;
	border: 1px solid white;
}*/


#nav_lateral{
	float: left;

}

.menu{
	float: left;/*
    position: fixed;*/
    width: 220px;
    height: 100vh;
    background: #2D3E50;/*
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);*/
}

.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;/*
    transition: all 300ms;
    display: block;*/
    width: 190px;
}

.menu li:hover{
    background: rgba(0,0,0,0.2);

}


/*--------------------------------SECTION CENTRAL---------------------------------------------*/

#centro{
	float: left;
	background: #2D3E50;
	width: 60%;
	margin-left: 1em;
	margin-top: 1em;
	height: 100vh;
}

/*--------------------------------SECTION LATERAL DERECHO---------------------------------------------*/

#lateral{
	float: left;
	width:19%;
	height: 100vh;
	background: #2D3E50;/*
	margin-left: 5px;*/
	margin-top: 1em;

	vertical-align: center;
	text-align: left;
}

---------------------------------------------
